/*
*   Login - Register
*/

.auth-card {
    margin-top: 18%;
    margin-bottom: 15%;
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white;
}

/*
*   Profile
*/

.username{
    margin-left: 5%;
    padding-top: 2%;
}

.top-profile-card{
    border-bottom: 0px !important;
    border-bottom-left-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}

.profile-card{
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.bottom-profile-card{
    border-top: 0px !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
}

.profile-card-body{
    background-position: center center;
    background-size: cover !important;
    height: 250px !important;
}

.user-avatar{
    width: 130px !important;
    height: 122px !important;
    margin-left: 41% !important;
    margin-top: 5% !important;
}

.nav-link.active{
    color: white !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-color: #dee2e6 #dee2e6 #f8fafc !important;
}

.nav-link{
    color: white !important;
}