.carouselInicio {
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

.carousel-inner {
  width: 100%;
  height: 420px;
  overflow: hidden;
}

/*
.carousel-indicators {
    bottom: 115px !important;
}
*/