html, body {
    background-color: black;
    color: #636b6f !important;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    margin: 0;
    line-height: 1 !important;
}
.full-height {
height: 100vh;
}

.flex-center {
align-items: center;
display: flex;
justify-content: center;
}

.position-ref {
position: relative;
}

.top-right {
position: absolute;
right: 10px;
top: 18px;
}

.content {
text-align: center;
}

.title {
font-size: 100px;
}

.links > a {
color: #636b6f;
padding: 0 25px;
font-size: 13px;
font-weight: 600;
letter-spacing: .1rem;
text-decoration: none;
text-transform: uppercase;
}

.m-b-md {
margin-bottom: 30px;
}

//Forms

.row-buy-forms {
    margin-left: 6% !important;
}

.nav-link-form {
    color: #150067 !important;
    background: rgba(255,255,255,0.3);
    font-size: 18px;
}

.material-icons {
    color: #ED1650 !important;
}

.nav-pills {
    background: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #150067 !important;
    color: #FFFFFF !important;
<<<<<<< HEAD
    font-size: 16px;
}
=======
    font-size: 18px;
}

>>>>>>> omar
